{% extends 'base.html.twig' %}

{% block title %}Edit Contact{% endblock %}

{% block body %}
    <h1>Edit Contact</h1>

    {{ include('contact_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_contact_crud_index') }}">back to list</a>

    {{ include('contact_crud/_delete_form.html.twig') }}
{% endblock %}
